<div class="wrap">
	<!-- header -->
	<div class="header">
		<div class="container">
			<h1><a href="index.html">Music Beats</a></h1>
			<div class="nav">
				<ul>
					<li class="m1"><a href="/"><span><b>Home</b></span></a></li>
					<li class="m2"><a href="/about" class="active"><span><b>About us</b></span></a></li>
					<li class="m3"><a href="/services"><span><b>Service</b></span></a></li>
					<li class="m4"><a href="/contact"><span><b>Contacts</b></span></a></li>
					<li class="m5 last"><a
							href="https://life-care-app.herokuapp.com/"><span><b>Administration</b></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- aside -->
		<div class="aside">
			<div class="inside">
				<h2>Latest News</h2>
				<ul class="news">
					<li><a href="#">June 30, 2010</a><strong>Sed ut perspiciatis unde</strong>Omnis iste natus luptatem
						accusantium doloremque laudantium totamrem.</li>
					<li><a href="#">June 14, 2010</a><strong>Neque porro quisquam est</strong>Consequuntur magni dolores
						eos qughi ratione voluptatem sequi.</li>
					<li><a href="#">May 29, 2010</a><strong>Minima veniam, quis nostrum</strong>Ut enim ad minima
						veniam, quis nosrum exercitatnem ullam corporis.</li>
				</ul>
			</div>
		</div>
		<!-- content -->
		<div class="section" id="content">
			<h2>About Your Website</h2>
			<p class="p2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
				laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
				vitae dicta sunt explicabo.</p>
			<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
				dolores eos qui rationeue porro quisquam est.</p>
			<h2 class="indent">About Your Team</h2>
			<ul class="list1">
				<li><img src="images/2page-img1.jpg" class="imgb" alt=""><strong>Team Member One</strong>He is the most
					important member of your team. Usually this is the person who started the website. Maybe it is worth
					to write why he has made such a decision and what has inspired him.</li>
				<li><img src="images/2page-img2.jpg" class="imgb" alt=""><strong>Another Team Member</strong>We are
					completly lost on what he's responsible for, but we hope that you know it ;) We also hope that you
					will tell it to the rest of the world including us by placing some real text here.</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="cont-bot"></div>
		<div class="social">
			<div id="face"><a href="http://www.facebook.com/group.php?gid=129632973725217&amp;v=wall"><img
						src="images/facebook.png" alt=""></a></div>
			<div id="twitter"><a href="http://twitter.com/#!/wflashtemplate/"><img src="images/twitter.png" alt=""></a>
			</div>
			<div id="youtube"><a href="http://www.youtube.com/user/WebFlashTemplateCom"><img src="images/youtube.png"
						alt=""></a></div>
		</div>
		<div class="inside"> Copyright © 2011. All right reserved. Image from BigStockPhoto.com © Kurhan<br>
			<a href="http://www.web-flash-template.com/" class="visit" title="Best website
templates.">Website template</a> designed by web-flash-template.com
		</div>
	</div>
</div>