<div class="wrap">
    <!-- header -->
    <div class="header">
        <div class="container">
            <h1 id="for_all"><a href="index.html">Medical Center</a></h1>
            <div class="nav">
                <ul>
                    <li class="m1"><a href="/" class="active"><span><b>Home</b></span></a></li>
                    <li class="m2"><a href="/about"><span><b>About us</b></span></a></li>
                    <li class="m3"><a href="/services"><span><b>Service</b></span></a></li>
                    <li class="m4"><a href="/contact"><span><b>Contacts</b></span></a></li>
                    <li class="m5 last"><a
                            href="https://life-care-app.herokuapp.com/"><span><b>Administration</b></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- aside -->
        <div class="aside">
            <div class="inside">
                <h2>Latest News</h2>
                <ul class="news">
                    <li><a href="#">June 30, 2010</a><strong>Sed ut perspiciatis unde</strong>Omnis iste natus luptatem
                        accusantium doloremque laudantium totamrem.</li>
                    <li><a href="#">June 14, 2010</a><strong>Neque porro quisquam est</strong>Consequuntur magni dolores
                        eos qughi ratione voluptatem sequi.</li>
                    <li><a href="#">May 29, 2010</a><strong>Minima veniam, quis nostrum</strong>Ut enim ad minima
                        veniam, quis nosrum exercitatnem ullam corporis.</li>
                </ul>
            </div>
        </div>
        <!-- content -->
        <div class="section" id="content">
            <h2>Article Name</h2>
            <div class="img-box"><img src="images/3page-img1.jpg" class="imgb" alt="">Sed ut perspiciatis unde omnis
                iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam
                voluptatem.</div>
            <p>Quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
                nulla pariatur.</p>
            <p class="p0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
                necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="cont-bot"></div>
        <div class="social">
            <div id="face"><a href="http://www.facebook.com/group.php?gid=129632973725217&amp;v=wall"><img
                        src="images/facebook.png" alt=""></a></div>
            <div id="twitter"><a href="http://twitter.com/#!/wflashtemplate/"><img src="images/twitter.png" alt=""></a>
            </div>
            <div id="youtube"><a href="http://www.youtube.com/user/WebFlashTemplateCom"><img src="images/youtube.png"
                        alt=""></a></div>
        </div>
        <div class="inside"> Copyright © 2011. All right reserved. Image from BigStockPhoto.com © Kurhan<br>
            <a href="http://www.web-flash-template.com/" class="visit" title="Best website
templates.">Website template</a> designed by web-flash-template.com
        </div>
    </div>
</div>