
<div class="wrap">
	<!-- header -->
	<div class="header">
		<div class="container">
			<h1><a href="index.html">Medical Center</a></h1>
			<div class="nav">
          <ul>
		<li class="m1"><a href="/"><span><b>Home</b></span></a></li>
		<li class="m2"><a href="/about"><span><b>About us</b></span></a></li>
		<li class="m3"><a href="/services"><span><b>Service</b></span></a></li>
		<li class="m4"><a href="/contact" class="active"><span><b>Contacts</b></span></a></li>
		<li class="m5 last"><a href="https://life-care-app.herokuapp.com/"><span><b>Administration</b></span></a></li>
		</ul>
      </div>
</div>
</div>
<div class="container">
	<!-- aside -->
	<div class="aside">
		<div class="inside">
			<h2>Latest News</h2>
			<ul class="news">
				<li><a href="#">June 30, 2011</a><br>Duis sed elementum est. Quisque scelerisque felis gravida nisi
					posuere at vulputate felis scelerisque. Cras a nibh augue.</li>
				<li><a href="#">June 14, 2011</a><br>Quisque lectus elit, pulvinar euismod blandit aliquet, euismod sit
					amet nibh. Aenean dapibus, odio eget egestas dapibus, purus velit aliquet leo, at condimentum risus
					lacus id eros.</li>
				<li><a href="#">May 29, 2011</a><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget
					justo at ipsum imperdiet porta. Aenean non purus vel justo blandit vestibulum at in felis.</li>
			</ul>
	</div>
   </div>
<!-- content -->
<div class="section" id="content">
	<h2>Contact Form</h2>
	<form id="contacts-form" action="">
		<fieldset>
			<div class="field">
				<label>Your Name:</label>
				<input type="text">
         </div>
		<div class="field">
			<label>Your E-mail:</label>
			<input type="text">
         </div>
		<div class="field">
			<label>Your Website:</label>
			<input type="text">
         </div>
		<div class="field">
			<label>Your Message:</label>
			<textarea cols="1" rows="1"></textarea>
         </div>
		<div class="button"><strong><span><a href="#" onclick="document.getElementById('contacts-form').submit()">Send Your
						Message!</a></span></strong></div>
		</fieldset>
      </form>
   </div>
<div class="clear"></div>
</div>
</div>
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="cont-bot"></div>
		<div class="social">
			<div id="face"><a href="http://www.facebook.com/group.php?gid=129632973725217&amp;v=wall"><img
						src="images/facebook.png" alt=""></a></div>
			<div id="twitter"><a href="http://twitter.com/#!/wflashtemplate/"><img src="images/twitter.png" alt=""></a>
			</div>
			<div id="youtube"><a href="http://www.youtube.com/user/WebFlashTemplateCom"><img src="images/youtube.png" alt=""></a>
			</div>
      		</div>
	<div class="inside"> Copyright © 2011. All right reserved. Image from BigStockPhoto.com © Kurhan<br>
		<a href="http://www.web-flash-template.com/" class="visit" title="Best website
			templates.">Website template</a> designed by web-flash-template.com
	</div>
</div>
</div>



