<div class="wrap">
	<!-- header -->
	<div class="header">
      <div class="container">
		<h1><a href="#">Medical Center</a></h1>
		<div class="nav">
			<ul>
				<li class="m1"><a href="/" class="active"><span><b>Home</b></span></a></li>
				<li class="m2"><a href="/about"><span><b>About us</b></span></a></li>
				<li class="m3"><a href="/services"><span><b>Service</b></span></a></li>
				<li class="m4"><a href="/contact"><span><b>Contacts</b></span></a></li>
				<li class="m5 last"><a href="https://life-care-app.herokuapp.com/"><span><b>Administration</b></span></a></li>
		</ul>
        </div>
	</div>
	</div>
    <div class="container">
	<!-- aside -->
	<div class="aside">
		<div class="inside">
			<h2>Medical News</h2>
			<ul class="news">
				<li><a href="#">June 30, 2011</a><br>Duis sed elementum est. Quisque scelerisque felis gravida nisi posuere
					at vulputate felis scelerisque. Cras a nibh augue. </li>
				<li><a href="#">June 14, 2011</a><br>Quisque lectus elit, pulvinar euismod blandit aliquet, euismod sit amet
					nibh. Aenean dapibus, odio eget egestas dapibus, purus velit aliquet leo, at condimentum risus lacus id
					eros</li>
				<li><a href="#">May 29, 2011</a><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget
					justo at ipsum imperdiet porta. Aenean non purus vel justo blandit vestibulum at in felis.</li>
			</ul>
		</div>
      </div>
	<!-- content -->
	<div class="section" id="content">
		<div class="wrapper">
			<div class="article col-1">
				<h2>Patient Quotes</h2>
				<img src="images/1page-img.jpg" class="imgb" alt="" />
				<p class="p1">MEDICAL CENTER Site is a free web template created by
					<strong>Web-Flash-Template.com</strong> team. This website template is
					optimized for 1024X768 screen resolution. It is also HTML5 &amp; CSS3
					valid.

</p>
<p class="p0">This web template can be delivered in two packages -
	with PSD source files included and without them. If you need PSD
	source files, go to the template download page at Web-Flash-Template
	to leave the e-mail that you want the template ZIP package to be
	delivered to.</p>
</div>
<div class="article col-2">
	<h2>Recent Articles</h2>
	<ul class="list">
		<li><strong>About This Template</strong>Free 1028X768 Optimized Website
			Template from <a href="http://www.web-flash-template.com/" class="visit" title="Best website
templates.">Web-Flash-Template.com</a>!
			We hope that you like this template and will use for your websites.</li>
		<li><strong>Cardiology procedures</strong>Donec sed ante purus. Sed bibendum nulla et nisl aliquam at porttitor
			mauris feugiat. Etiam dignissim pellentesque hendrerit. </li>
		<li><strong>Dermatology surgery</strong>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
			inceptos himenaeos. Pellentesque sagittis tortor eros. </li>
		<li><strong>Diabets clinic</strong>Nullam ac diam nisl, a consequat orci. Nunc faucibus diam ut mi sollicitudin
			a
			convallis nunc cursus. Cras adipiscing ligula vel orci convallis congue.</li>
	</ul>
</div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
<!-- footer -->
<div class="footer">
  <div class="container">
	<div class="cont-bot"></div>
	<div class="social">
		<div id="face"><a href="http://www.facebook.com/group.php?gid=129632973725217&v=wall"><img src="images/facebook.png"
					alt="" /></a></div>
		<div id="twitter"><a href="http://twitter.com/#!/wflashtemplate/"><img src="images/twitter.png" alt="" /></a>
      </div>
	<div id="youtube"><a href="http://www.youtube.com/user/WebFlashTemplateCom"><img src="images/youtube.png" alt="" /></a>
	</div>
    </div>
	<div class="inside"> Copyright &copy; 2011. All right reserved. Image from BigStockPhoto.com &copy; Kurhan<br>
		<a href="http://www.web-flash-template.com/" class="visit" title="Best website
		templates.">Website template</a> designed by web-flash-template.com
    </div>
  </div>
</div>
