<!DOCTYPE html>
<html lang="en">
<head>
<title>LifeCare</title>
<meta name="description" content="Place your description here" />
<meta name="keywords" content="put, your, keyword, here" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Web-Flash-Template.com - We deliver
best flash website templates" />
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">


</head>
<body id="page1">
{{{body}}}
</body>
</html>
